body{
    margin: 0;
    padding: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */


.button{

   display: inline-block;
   height: 100px;
   width: 100px;
   border-radius: 2px;

}
#yellow{
    background-color: yellow;
}

#grey{
    background-color: grey;
}

#blue{
    background-color: blue;
}

#purple{
    background-color: purple;
}

#red{
    background-color: red;
}